<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Shippers</title>
</head>
<body>
  <form action="/parcel" method="POST">
    <label for="height">Height in Inches</label>
    <input id="height" name="height" type="float" min="0">
    <br>
    <label for="width">Width in Inches</label>
    <input id="width" name="width" type="float" min="0">
    <br>
    <label for="length">Length in Inches</label>
    <input id="length" name="length" type="float" min="0">
    <br>
    <label for="weight">Weight in Pounds</label>
    <input id="weight" name="weight" type="float" min="0">
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>