<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Shippers</title>
</head>
<body style="text-align:center">
  <h1>Welcome to Shippers!</h1>
  <h2>The only bicycle powered shipping company.</h2>
  <p>Our beautiful vintage bicycles will carry your packages to their destinations with care and style.</p>
  <p>*Expected shipping times will vary, dependent on weather conditions, distractions, motivation of employees, and your horoscope.</p>
  <p>*International shipping coming soon! As soon as our flying bicycle prototype passes inspection.</p>
  <h3>Click here to ship a parcel!</h3>
  <a href="/form" class="btn btn-primary btn-lg">Order Form</a>
  
</body>
</html>